/* Hide the spinner arrows for number input in Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinner arrows for number input in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
